.App {
	width: 100%;
	position: relative;
	max-width: 1000px;
	margin: 0 auto;

}
.App-block {
	//background: white;
	padding: 5px 10px 20px 0;
	margin: 10px 5px;
	//box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
	display: none;
}
.App-block.is-show {
	display: block;
}
@media screen and (min-width: 600px){
    .App {   
	   text-align: center;
	   padding: 10px 0;
    }
    .App-block {
    	padding: 20px 10px 20px 0;
		margin-top: 20px;
    }
}
.App-section {
	max-width: 820px;
	margin: 40px auto 20px auto;
	text-align: left;
	line-height: 1.6;
}
.App-meta {
	font-size: 12px;
    text-align: center;
    border: 1px solid rgb(120,120,120);
    display: inline-block;
    padding: 2px 20px;
    color: rgb(53,55,54);
}
.App-mainTitle {
	font-size: 24px;
	font-weight: 800;
	line-height: 1;
}
.App-sectionTitle {
	font-size: 20px;
	font-weight: 800;
	margin: 5px;
	padding-left: 8px;
	border-left: 8px solid rgb(152, 39, 45);
	
}

.App-figure {
	position: relative;
	margin-top: 50px;
	min-height: 800px;
}
.App-progress {
	position: absolute;
	left: 0;
	top: -20px;
	width: 100%;
	padding-top: 50px;
}
@media screen and (min-width: 600px){
	.App-figure {
		min-height: 0;
		padding-right: 20px;
	}
	.App-progress {
		position: relative;
	}
}
.App-billVersions {
	text-align: left;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	margin-left: 60px;
    margin-bottom: 50px;
}
.App-billVersion {
	
	-webkit-box-flex:  0 0 30px;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex:  0 0 30px;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex:  0 0 30px;           /* IE 10 */
    flex:  0 0 30px;               /* NEW, Spec - Firefox, Chrome, Opera */

}
@media screen and (min-width: 400px){
    .App-billVersion {
    	-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;           /* IE 10 */
        flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
    	
    }
}
@media screen and (min-width: 600px){
	.App-billVersions {
	   display: block;
	   border-bottom: 1px solid;
	}
	.App-billVersion {
		
		-webkit-box-flex: none;   /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: none;       /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: none;           /* IE 10 */
        flex: none;               /* NEW, Spec - Firefox, Chrome, Opera */
	}
}

.App-update {
	font-size: 14px;
	width: 100%;
	text-align: center;
	padding: 10px;
}
